{% extends "base.html" %}

{% block header %}
  {{super()}}
  {% if article.category != 'blog' %}
  <nav>
    <ul>
      {% for a in articles if a.category == category %}
      <li {% if output_file == a.url %}class="active"{% endif %}>
        <a href="/{{a.url}}">{{a.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}

{% block content %}
<article>
    {% if article.category == 'blog' %}
      <time>{{article.date|strftime('%d %B %Y')}}</time>
      <h1>{{article.title}}</h1>
    {% endif %}
    {{article.content}}

    <hr>
    <p class="flex-line"><a href="/blog.html">back to the blog</a> <a href="#top">top of the page</a></p>
</article>
{% endblock %}


