<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
  </head>

  <body class="{% block body_class %}{% endblock %}">

    <header>
      {% block header %}
      <div>
        {{ SITENAME }}
      </div>

      <nav>
        <ul>
          {# intro first #}
          {% set about = pages|selectattr('slug', 'equalto', 'about')|first %}
          <li {% if output_file == 'index.html' %}class="active"{% endif %}>
            <a href="/">{{about.title}}</a>
          </li>
          {# all the category in alphabetical order #}
          {% for c in categories|sort(attribute='title') %}
          <li {% if output_file == c[0].url or article and article.category == c[0] %}class="active"{% endif %}>
            {% if c[0].slug == "blog" %}
              <a href="/{{c[0].url}}">{{c[0]|capitalize}}</a>
            {% else %}
              {% set first_article = c[1]|first %}
              <a href="/{{first_article.url}}">{{c[0]|capitalize}}</a>
            {% endif %}
          </li>
          {% endfor %}
          {# all the remaining pages in alphabetical order #}
          {% for p in pages|sort(attribute='title')|rejectattr('slug', 'equalto', 'about') %}
          <li {% if output_file == p.url %}class="active"{% endif %}>
            <a href="/{{p.url}}">{{p.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endblock %}
    </header>
    
    {% block content %}
      {# content goes here #}
    {% endblock %}

  </body>
</html>
