{% extends "base.html" %}

{% block body_class %}category {% if category == 'blog' %}blog{% endif %}{% endblock %}

{% block header %}
  {{super()}}
  {% if category != 'blog' %}
  <nav>
    <ul>
      {% for article in articles %}
      <li {% if output_file == article.url %}class="active"{% endif %}>
        <a href="/{{article.url}}">{{article.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}



{% block content %}
  {% if category == 'blog' %}
    {% for article in articles %}
      <article class="blog-post">
        <time>{{article.date|strftime('%d %B %Y')}}</time>
        <h1><a href="/{{article.url}}">{{article.title}}</a></h1>
        <div class="summary">{{ article.summary }}</div>
      </article>
    {% endfor %}
  {% endif %}
{% endblock %}


