
:root{
    --pad-v: 0.5em;
    --pad-h: 2em;
}

html{
    font-size: 1.125em;
}
body{
    line-height: 1.45;
    font-size: inherit;

    background-color: darkgreen;
    color: white;
    font-family: sans-serif;
}

a{
    color: currentColor;
}
a:hover{
    text-decoration: none;
}

/* --- nav --- */

header > *{
    padding: var(--pad-v) var(--pad-h);
    border-bottom: 1px solid white;
}
nav ul{
    display: flex;
    gap: var(--pad-v) 1em;
    flex-wrap: wrap;
}
li.active{
    background-color: white;
    color: darkgreen;
}
li.active a{
    text-decoration: none;
}

strong {
	background: palegreen;
	color: darkgreen;
}

pre{
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 1em;
    font-family: monospace;
    white-space: pre-wrap;

    max-width: min(24rem, 100%);
    box-sizing: border-box;
}


/* --- article --- */

article{
    max-width: 48em;
    padding: 0 var(--pad-h);
    margin: 1em auto;
}
article > *:first-child{
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 2rem 0 1rem;
}
p{
    margin: 1rem 0;
}
h1,h2,h3,h4,h5,h6, summary{
    font-size: 1.35rem;
    font-family: serif;
    border-bottom: 1px solid palegreen;
    clear: both;
}
h1, h2{
    font-size: 1.8rem;
}

hr{
    border: none;
    margin: 5em 0 1rem;
    border-bottom: 1px solid white;
}

.flex-line{
    display: flex;
    justify-content: space-between;
}

article ul{
    list-style: initial;
    padding-left: 1em;
}

blockquote{
    border: 1px solid palegreen;
    padding: 0 2em;
    border-radius: 2em;
    margin: 2em;
    font-style: italic;
}

/* --- blog --- */

.blog article{
    border: 1px solid palegreen;
    padding: var(--pad-v) var(--pad-h);
}
article h1{
    margin-top: 0;
    clear: none;
}
.blog article h1{
    border-bottom: none;
}
article time{
    float: right;
    margin-left: 1em;
    margin-top: 0.9em !important;
}
.summary img,
.summary h1,
.summary h2,
.summary h3,
.summary h4,
.summary h5,
.summary h6,
.summary blockquote{
    display: none;
}
.summary strong{
    background-color: revert;
    color: revert;
}

/* --- img --- */

figure{
    display: table;

    float: right;
    margin: 0 0 1em 1em;
    clear: both;
}
img{
    display: block;
    max-width: 28rem;
    max-height: 24rem;
    outline: darkgreen solid 1em;
}

figcaption{
    font-size: 0.825rem;
    box-sizing: border-box;
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
}
.full figure{
    float: none;
    margin: 1em 0;
    background-color: whitesmoke;
}
.full img{
    outline: none !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.two{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    clear: both;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1em;
}
.gallery figure,
.gallery img{
    margin: 0;
    float: none;
    outline: none !important;
}
.gallery img{
    max-width: calc(calc(48em - 1em) / 2);
    max-height: 20rem;
}

/* --- details --- */

summary{
    cursor: pointer;
    clear: none;
}


/* --- mobile --- */

@media screen and (max-width: 36rem){
    :root{
        --pad-v: 0.5em;
        --pad-h: 0.5rem;
    }
    html{
        font-size: 1em;
    }

}